
html,body {
    background:#000;
    overflow:hidden;
    min-width:100%;
    padding:0;
    margin:0;
}

        #video-player {
       position:absolute;         top:0; 
     right:0; 

            width: 100%;
            height: 100%;
            border: none;
    transition:width 0.8s ease, height 0.8s ease,
                transform 0.8s ease;   
    transform-origin: right top;      
            
        }

  #video-player.small{
    width:650px;         
    height:300px;        
  }


.follow{
  position:fixed;
  right:90px;
  top:50px;
}
.follow img {
    width: 110px;
    height: 60px;

}

.follow1{
  position:fixed;
  left:0px;
  top:0px;
}
.follow1 img {
    width: 80px;
    height: 35px;

}

    .marquee-overlay {
      position: absolute;
      top: 0;                 
      left: 0;
      width: 100%;
      color: #fff;
     background: blue;
      font-size: 1.2rem;
    font-weight: bold;


      overflow: hidden;
    }


    
.slider-container {
    
bottom :0px;
    width: 100%;
    height: 70px;
   overflow: hidden;
    position: fixed;
    
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 70px;
    display: block;
}


        #clock-container {
            background-color: red;
            width: 100px;
            
            height: 35px;
position:fixed;
  right:0px;
  top:0px;
            
            

            display: flex;
            justify-content: center;
            align-items: center;
        }

        
        #display {
            color: white;
            font-size: 1rem; 
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
            opacity: 1;
            transition: opacity 0.5s ease-in-out; 
        }
        

        
#image-slider-container {
    
    display: none;
    overflow: hidden;
    /* Overlay styles */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}


#image-slider-container.active {
    display: flex; 
}


#slider-image {
    width: 100%;
    height: 100%;
    

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


#slider-image.fade-out {
    opacity: 0;
}


    
    













































